@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
:root{
    --cor-neutra-0:#ffffff;
    --cor-neutra-1:#eee4db;
    --cor-neutra-2:#d4c3b6;
    --cor-neutra-3:#b8a99e;
    --cor-neutra-4:#9e8f85;
    --cor-neutra-5:#7e6e65;
    --cor-neutra-6:#5e4e45;
    --cor-neutra-7:#3e2325;
    --cor-neutra-8:#130305;
    --cor-neutra-9:#000000;
    --cor-primaria-1:#34815d;
    --cor-primaria-2:#2c6e4f;
    --cor-primaria-3:#245c42;
    --cor-secundaria-1:#f5c518;
}

#container{
    background-image: url(imagens/background-mobile.png);
    background-size: contain;
    height: 400vh;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-neutra-8);
    font-weight: 700;
    position: relative;

    &::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--cor-primaria-1);
    position: absolute;
    bottom: 0;
    border-radius: 30px;

    }
}

a.btn{
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    border: none ;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile{
    font-size: 1.5rem;
}
.btn-default{
    background-color: var(--cor-primaria-1);
    color: var(--cor-neutra-0);
    &:hover{
        background-color: var(--cor-primaria-2) ;
    }
}
.btn-outlined{
    background-color: transparent;
    color: var(--cor-primaria-1);
    border: 2px solid var(--cor-primaria-1);

    &:hover{
        background-color: var(--cor-primaria-1);
        color: var(--cor-neutra-0);
    }
}

#home{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px );
    

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title{
        color: var(--cor-neutra-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span{
            color: var(--cor-primaria-1);
        }
    }
    .home-description{
        color: var(--cor-neutra-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px ;
    }
    .home-actions{
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card{
            position: relative;
            img {
                width: clamp(300px, 5vw, 600px)
            }
            .trending-rate {
                background-color: var(--cor-neutra-0);
                position: absolute;
                bottom: 70%;
                right: 30px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--cor-secundaria-1);
                }
            }
            .trending-card-description {
                display:flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--cor-neutra-8);

                span{
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--cor-neutra-7);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #trending{
        trending-cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
}

header{
    background-color: var(--cor-neutra-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 180px;
        }
        ul{
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 80px;
            background-color: var(--cor-neutra-1);
            left: 0;
            padding: 1rem;

            &.show {
                display: flex;
            }


            li{
                text-align: center;

                a{
                    color: var(--cor-neutra-8);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover {
                        color: var(--cor-primaria-1);
                        border-bottom: 1px solid var(--cor-primaria-1);
                    }
                }
            }
        }
    }
}

@media (min-width: 769px)  {
    header{
        .navbar{
            .btn-mobile{
                display:none;
            }
            ul{
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
            }
            .btn-default{
                display: block;
            }
        }
    }
}